.benefits{
padding: 64px ;
color:white;
&__span{
    color:$yellow;
}
    &__title{
        text-align: center;
    }
    &__container{
        display: flex;
        justify-content: center;
        column-gap: 10px;
    }
    &__benefit{
        text-align: center;
        background-color: dodgerblue;
        width: 200px;
        padding: 64px;
        border-radius: 10px;
    }
    &__description{
        font-weight:600;
        font-size: 24px;
    }
    &__image{
        width:100%;
 margin-bottom: 16px;
        display: flex;
        justify-content: center;
    }
    &__img{
        width:auto;
        height:80px;
    }
    @media(max-width:600px){
        &__container{
            flex-direction: column;
            align-items: center;
            
        }
        &__benefit{
            text-align: center;
            margin-bottom: 10px;
        }
    }
}